/* BASIC PAGE NEEDS */


body{display:block;}
video, img{max-width:100%; height:auto;}

/* Common margins */
.ml5{margin-left: 30px;}
.margin-top-large{margin-top: 60px;}
.margin-top-medium{margin-top: 40px;}
table, th, td {border: 1px solid black;}
td, th {padding: 6px!important; vertical-align: top;}
.footerDefaultMargin{margin-bottom: 60px;}
.defaultMargin{margin-bottom: 20px;}
.equal-margin {margin:6.25% 6.25% 6.25% 6.25%;}
.text-style{font-family: 'Muli', sans-serif; font-size:16px;}

/* USC logo Requirements */
h1#usclogo {float: right;width: 198px;height: 60px;margin: 0;}
h1#usclogo a {display: block;width: 176px;height: 54px;padding:11px;background-color:#900;background:url(../images/usc-shield-name-white.png) 0 11px no-repeat;text-indent: -9999px;}
.navbar-default {background-color: #900!important; border-color: #030033;}
.fontSizeM{font-size: 14px; color:white;}
.red-color{ background-color: red;}

/*Top Navigation Bar */
.displayUL{list-style:none;position:absolute;}
.innerList{display:inline-block; margin-top: 15px;margin-left: 30px;}
.listFontStyle{color:white;font-size: 1.3em;}
.dropdown-menu>li>a{background-color: #900;padding: 13px 4px!important;color:white!important;}


/* Lecture Series */
.title-heading{font-size:1.6em;}
.content-size{font-size:1.0em;margin-bottom: 20px;}
.date-style{ font-style: oblique;}
.location-style{font-size: 1.2em;}
.audience-style{font-size: 1.2em;}
.speaker-style{font-size: 1.2em;}
.talk-tiltle{font-size: 1.2em;}
.series-style{font-size: 1.2em;}
.test-style{}
.margin-tp-5{margin-top: 7px;}
.properText{    text-align: justify;text-justify: inter-word;}
.textLeft{text-align:left;}
.borderToSeminar { border-style: solid;border-width: 1px;border-color: black;}
.marginAllSide{margin:10px 10px 10px 10px;}


/* Footer Text */
.footerText{text-align: center; font-size: 0.7em;}


